[submodule "homepage/RayTracer"]
	path = homepage/RayTracer
	url = https://github.com/Ian-Fielding/RayTracer.git
[submodule "homepage/TetrisAI"]
	path = homepage/TetrisAI
	url = https://github.com/Ian-Fielding/TetrisAI.git
[submodule "homepage/Ecru"]
	path = homepage/Ecru
	url = https://github.com/Ian-Fielding/Ecru.git
